@import url("fonts/fonts.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff6565;
  --secondary-color: #071629;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 0 2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  padding: 13px 32px;
  font-size: 14px;
  font-weight: 700;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Navbar Starts */
/* main menu */
.navbar {
  background-color: transparent;
  color: #fff;
  padding: 2rem 2rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 161px;
  height: 32px;
}

.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-weight: 600;
  font-size: 12px;
}

.navbar a {
  color: #fff;
}

.navbar a:hover,
.navbar a:active {
  color: var(--primary-color);
}

/* mobile menu */
.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle img {
  width: 20px;
  height: 14px;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* Navbar Ends */

/* Header starts */
.hero {
  background: var(--secondary-color)
    url("../images/header-hero/headphones_hero_1.jpg") center center/cover
    no-repeat;
  padding: 19.5rem 12rem 7rem;
  color: #fff;
  overflow-x: hidden;
  position: relative;
  text-align: center;
}

.hero h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.hero .lead-text {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.hero .hero-btn {
  margin-bottom: 4.5rem;
}

/* Header Ends */

/* What we do & Our results section  */

#what-we-do,
#our-results {
  padding: 6.8rem 0;
  text-align: center;
}


#what-we-do h2,
#our-results h2{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  color: var(--secondary-color);
}

.what-we-do-text,
.our-results-text{
  margin-bottom: 6rem;
  padding: 0 11rem;
}

.what-we-do-flex,
.our-results-flex{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2rem;
}

.icon-box span{
  margin-bottom: 1.5rem;
}

.icon-box h3{
  margin-bottom: 0.8rem;
  font-size: 18px;
  font-weight: 600;
}

.icon-box p{
  font-size: 14px;
  font-weight: 400;
}

#our-results{
  background: url("../images/our-results/background.png") center center/cover no-repeat;
  color: #fff;
  padding: 9rem 0 5rem;
}

#our-results h2{
  color: #fff;
}


/* Media Queries */
@media (max-width: 768px) {
  .hero {
    padding: 19.5rem 4rem 7rem;
  }

  .what-we-do-flex,
  .our-results-flex{
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
    column-gap: 2rem;
    row-gap: 4rem;
  }

  .what-we-do-flex .icon-box,
  .our-results-flex .icon-box{
    padding: 0 3rem;
  }

  .what-we-do-text,
  .our-results-text{
    padding: 1rem;
    align-items: center;
  }
  
  .icon-box{
    padding: 0 1rem;
  }
}


@media (max-width: 480px) {
  .navbar {
    display: flex;
    align-items: center;
  }

  .navbar-flex {
    justify-content: center;
  }

  .main-menu-items {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .hero {
    background: var(--secondary-color)
      url("../images/header-hero/headphones_hero_1.jpg") center center/cover
      no-repeat;
    background-position: 35% center;
    padding: 19.5rem 1.5rem 7rem;
  }

  .hero .lead-text {
    padding: 0 45px;
    margin-bottom: 1.25rem;
  }

  .what-we-do-flex,
  .our-results-flex{
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .what-we-do-flex .icon-box,
  .our-results-flex .icon-box{
    padding: 0 7rem;
  }
}

