body, main{
    display: flex;
}

body{
    flex-direction: column;
}

header{
    background-color: rgb(187, 255, 169);
}

main{
    flex-direction: row;
    flex: auto;
}

main article{
    flex: 2;
}

main aside{
    flex: 1;
}

main article, main aside{
    overflow-y: auto;
}

article h1{
    color: rgb(25, 97, 6);
}

footer{
    background-color: rgb(187, 255, 169);
}
